@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #ffffff !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

.ul-link {
  list-style: none;
  a {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #123e55;
      transform: scaleY(2);
      opacity: 0;
      transition: 0.3s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00c3a6b8;
      transform: scale(0);
      opacity: 0;
      transition: 0.3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }
}

.nb_image {
  width: 200px;
  height: 200px;
}

.emp_det_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.Header-login {
  padding: 10px;
}
.auth-inner {
  width: 500px;
  height: 80vh;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 8px;
  padding: 50px 55px 45px 55px;
}
.auth-inner-aboutus {
  width: 600px;
  height: 80vh;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 8px;
  padding: 20px 35px 25px 35px;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}

.ChatNB {
  color: #123e55;
}
.ChatNB-Visitor {
  padding-bottom: 5%;
  font-size: 80px;
  font-style: italic;
  color: #123e55;
}
.Text1 {
  color: #123e55;
}

.Text2 {
  color: #00000073;
  font-size: 13px;
}

.Input-login input {
  background-color: #efefef;
  border-radius: 2rem;
}

.logoimage {
  height: 85%;
  width: 85%;
  margin-top: -65px;
}

.pegasus-logo {
  height: 65%;
  width: 65%;
  margin-left: 80px;
}

.btn-primary {
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #070707;
  background-color: #00c3a6b8;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border-radius: 2rem;
}

.btn-primary:hover {
  background-color: #00c3a5;
}

.btn-success {
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #070707;
  background-color: #0091ffb8;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border-radius: 2rem;
}

.btn-success:hover {
  background-color: #0486eab8;
}

.btn-disabled {
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #070707;
  background-color: #857f7f;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border-radius: 2rem;
}

.text-align-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.containerStyle {
  padding: "20px";
}

.textBackgroundStyle {
  background: #ddcdb35d;
  padding: "10px";
  border-radius: "8px";
}

.admin-dashboard {
  background: #ddcdb35d;
}

.admin-question {
  background: #ffffff;
}

.admin-button {
  background-color: #00c3a6b8;
}
.admin-questions {
  background-color: #ffffff;
}

.admin-button:hover {
  background-color: #00c3a5;
}

.reward-points {
  background-color: #00c3a5;
}

.nav-links {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li a {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before {
  width: 100%;
}
.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* NB LIST STYLE */

.chat-head {
  text-align: center;
}

.chat-head img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.chat-head img:hover {
  border: 5px solid #0e274094;
}

.standard-visitor-background {
  background: #ddcdb35d;
}

.chat-head .name {
  display: block;
  font-size: 33px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.dashboard-nav-text {
  font-size: 28px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

/* NB LIST STYLE */

/* CHAT UI */

.chat-auth-inner {
  width: 700px;
  height: 250px;
  margin-right: 70px;
  background: #d9d9d991;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 55px 55px 35px 35px;
  border-radius: 30px;
}

.messenger-input-container {
  display: flex;
  align-items: center;
  background-color: #20bf9d;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  flex: 1;
}
::placeholder {
  color: rgb(12, 12, 12);
  font-size: medium;
}
.form-control-chat[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: #000;
  background-color: #20bf9d;
}

.send-button {
  background-color: #20bf9d;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

/* CHAT UI */

/* Admin pop-up UI */

.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 100; /* Ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-popup {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.confirmation-popup p {
  margin-bottom: 30px;
}

/* Admin pop-up UI */

/* Assessment UI */

.quiz-font {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.no-page-font {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.quiz-content-margin {
  margin-left: 12%;
}

.card-margin {
  margin-top: 5%;
}

/* Assessment UI */
.quiz-text.card {
  background-color: transparent !important;
  border: none !important;
}

.quiz-text.card .card-body {
  background-color: transparent !important;
}
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #00c3a6b8;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00c3a5 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Assessment UI */

/*Admin*/

.standard-admin-background {
  background: #ddcdb35d;
}

/*Admin*/

/*Feedback UI*/

.feedback-container {
  position: fixed;
  bottom: 150px;
  right: 10px;
  z-index: 10;
}

.feedback-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.feedback-form {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 350px;
  height: 450px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 15px;
  z-index: 10;
}

.feedback-form h4 {
  margin-top: 0;
  margin-bottom: 15px;
}

.feedback-form .form-group {
  margin-bottom: 15px;
}

.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.feedback-container .feedback_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #20bf9d;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.feedback-container .feedback_button:hover {
  width: 200px;
  background: white;
}
.feedback-container .feedback_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.feedback-container .feedback_button:nth-child(1):hover .icon {
  background: #20bf9d;
}
.feedback-container .feedback_button:nth-child(2):hover .icon {
  background: #20bf9d;
}

.feedback-container.feedback_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.feedback-container .feedback_button:hover .icon i {
  color: #fff;
}
.feedback-container .feedback_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.feedback-container.feedback_button:nth-child(1) span {
  color: #4267b2;
}
/*Feedback UI*/

/*Leaderboard UI*/

.Leaderboard-container {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 10;
}

.Leaderboard-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Leaderboard-container .Leaderboard_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #20bf9d;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Leaderboard-container .Leaderboard_button:hover {
  width: 200px;
  background: white;
}
.Leaderboard-container .Leaderboard_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Leaderboard-container .Leaderboard_button:nth-child(1):hover .icon {
  background: #20bf9d;
}
.Leaderboard-container .Leaderboard_button:nth-child(2):hover .icon {
  background: #20bf9d;
}

.Leaderboard-container.Leaderboard_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Leaderboard-container .Leaderboard_button:hover .icon i {
  color: #fff;
}
.Leaderboard-container .Leaderboard_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Leaderboard-container.Leaderboard_button:nth-child(1) span {
  color: #4267b2;
}
/*Leaderboard UI*/

/*Assessment UI*/

.Assessment-container {
  position: fixed;
  bottom: 220px;
  right: 10px;
  z-index: 10;
}

.Assessment-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Assessment-container .Assessment_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #20bf9d;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Assessment-container .Assessment_button:hover {
  width: 200px;
  background: white;
}
.Assessment-container .Assessment_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Assessment-container .Assessment_button:nth-child(1):hover .icon {
  background: #20bf9d;
}
.Assessment-container .Assessment_button:nth-child(2):hover .icon {
  background: #20bf9d;
}

.Assessment-container.Assessment_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Assessment-container .Assessment_button:hover .icon i {
  color: #fff;
}
.Assessment-container .Assessment_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Assessment-container.Assessment_button:nth-child(1) span {
  color: #4267b2;
}
/*Assessment UI*/

/*Logout UI*/

.Logout-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.Logout-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Logout-container .Logout_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #20bf9d;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Logout-container .Logout_button:hover {
  width: 200px;
  background: white;
}
.Logout-container .Logout_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Logout-container .Logout_button:nth-child(1):hover .icon {
  background: #20bf9d;
}
.Logout-container .Logout_button:nth-child(2):hover .icon {
  background: #20bf9d;
}

.Logout-container.Logout_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Logout-container .Logout_button:hover .icon i {
  color: #fff;
}
.Logout-container .Logout_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Logout-container.Logout_button:nth-child(1) span {
  color: #4267b2;
}
/*Logout UI*/

/*Instructions UI*/

.Instructions-container {
  position: fixed;
  bottom: 290px;
  right: 10px;
  z-index: 10;
}

.Instructions-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Instructions-container .Instructions_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #20bf9d;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Instructions-container .Instructions_button:hover {
  width: 200px;
  background: white;
}
.Instructions-container .Instructions_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Instructions-container .Instructions_button:nth-child(1):hover .icon {
  background: #20bf9d;
}
.Instructions-container .Instructions_button:nth-child(2):hover .icon {
  background: #20bf9d;
}

.Instructions-container.Instructions_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Instructions-container .Instructions_button:hover .icon i {
  color: #fff;
}
.Instructions-container .Instructions_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Instructions-container.Instructions_button:nth-child(1) span {
  color: #4267b2;
}
/*Logout UI*/
