@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #ffffff !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

.ul-link {
  list-style: none;
  a {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    color: #604c3c;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #9a6e4b;
      transform: scale(0);
      opacity: 0;
      transition: 0.3s;
      z-index: -1;
      border-radius: 12px;
    }
    &:hover {
      color: #000000;
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }
}

.nb_image {
  width: 200px;
  height: 200px;
}

.emp_det_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.Header-login {
  padding: 10px;
}

.container-fluid video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.auth-inner {
  width: 500px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 50px 70px,
    rgba(0, 0, 0, 0.22) 30px 20px 12px;
  padding: 50px 55px 45px 55px;
}
.auth-inner-aboutus {
  width: 600px;
  height: 80vh;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 8px;
  padding: 20px 35px 25px 35px;
}

.auth-wrapper {
  border-color: #604c3c;
  box-shadow: none;
}

/**Radio button background in assessment*/
.radio-btn {
  border-color: #604c3c;
  box-shadow: none;
}

.radio-btn:focus {
  border-color: #604c3c;
  box-shadow: none;
  outline: none;
}

.radio-btn:checked {
  border-color: #604c3c;
  background-color: #604c3c;
}

.form-control:focus {
  border-color: #604c3c;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}

.ChatNB {
  color: #604c3c;
}
.ChatNB-Visitor {
  padding-bottom: 5%;
  font-size: 80px;
  font-style: italic;
  color: #604c3c;
}
.Text1 {
  color: #604c3c;
}

.Text2 {
  margin-top: 31%;
  color: #00000073;
  font-size: 13px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.warning {
  font-family: "Lilita One", sans-serif;
}

.login-form label,
input {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #212121;
}

.Input-login input {
  background-color: #cec7c7;
  border: none;
}

.logoimage {
  height: 85%;
  width: 85%;
  margin-top: -65px;
}

.pegasus-logo {
  height: 65%;
  width: 65%;
  margin-left: 80px;
}

.login-btn {
  background: none;
  border: none;
  width: 40%;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #604c3c;
  cursor: pointer;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-btn:not(:disabled):hover {
  transform: scale(1.05);
}

.login-btn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.login-btn:focus {
  outline: 0 solid transparent;
}

.login-btn:focus:before {
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.login-btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.login-btn:focus:not(:focus-visible):before {
  border-width: 0;
}

.login-btn:not(:disabled):active {
  transform: translateY(0.125rem);
}

.btn-primary {
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #604c3c;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border-radius: 2rem;
  transition: background-color 0.3s; /* Adding transition for smooth color change */
}

.btn-primary:hover {
  background-color: #9a6e4b;
}

.btn-primary:active {
  background-color: #604c3c;
}

/**For button submit in assesment*/
.btn-success {
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #604c3c;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border-radius: 2rem;
}

.btn-success:hover {
  background-color: #9a6e4b;
}

.btn-success:active {
  background-color: #604c3c;
}

.btn-disabled {
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #070707;
  background-color: #857f7f;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border-radius: 2rem;
}

.text-align-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.containerStyle {
  padding: "20px";
}

.textBackgroundStyle {
  background: #604c3c;
  padding: "10px";
  border-radius: "8px";
}

.admin-dashboard {
  color: white;
  background: #604c3c;
}

.admin-question {
  background: #ffffff;
}

.admin-questions {
  background-color: #ffffff;
}

.admin-button {
  color: white;
  background-color: #604c3c;
}

.admin-button:hover {
  background-color: #9a6e4b;
}

.admin-button:active {
  background-color: #604c3c;
}

.reward-points {
  background-color: #604c3c;
}

.nav-links {
  display: flex;
  align-items: center;
  background: #604c3c;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li {
  width: 100%;
}
.nav-links li.center {
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward {
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward {
  transform: scaleX(1);
  transform-origin: left;
}

/* NB LIST STYLE */

.chat-head {
  text-align: center;
}

.chat-head img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.chat-head img:hover {
  border: 5px solid #604c3c;
}

.standard-visitor-background {
  background: #604c3c;
}

.assessment-text-visitor-background {
  padding: 5px;
  position: fixed;
  color: white;
  left: 0;
  right: 0;
  background-color: #604c3c;
}

.chat-head .name {
  display: block;
  font-size: 33px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.dashboard-nav-text {
  font-size: 28px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  color: #ffffff;
}

/* NB LIST STYLE */

/* CHAT UI */

.chat-auth-inner {
  width: 700px;
  height: 250px;
  margin-right: 70px;
  background: #d9d9d991;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 55px 55px 35px 35px;
  border-radius: 30px;
}

.messenger-input-container {
  display: flex;
  align-items: center;
  background-color: #604c3c;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  flex: 1;
}
::placeholder {
  color: rgb(12, 12, 12);
  font-size: medium;
}
.form-control-chat[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: #000;
  background-color: white;
}

.send-button {
  background-color: #604c3c;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

/* CHAT UI */

/* Admin pop-up UI */

.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 2000; /* Ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-popup {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.confirmation-popup p {
  margin-bottom: 30px;
}

/* Admin pop-up UI */

/* Assessment UI */

.quiz-font {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.no-page-font {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.quiz-content-margin {
  margin-left: 12%;
}

.card-margin {
  margin-top: 5%;
}

/* Assessment UI */
.quiz-text.card {
  background-color: transparent !important;
  border: none !important;
}

.quiz-text.card .card-body {
  background-color: transparent !important;
}
.button-80 {
  background: #604c3c;
  backface-visibility: hidden;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(0.125rem);
}
/* Assessment UI */

/*Admin*/

.standard-admin-background {
  background: #604c3c;
}

/*Admin*/

/*Feedback UI*/

.feedback-container {
  position: fixed;
  bottom: 150px;
  right: 10px;
  z-index: 10;
}

.feedback-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.feedback-form {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 350px;
  height: 450px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 15px;
  z-index: 10;
}

.feedback-form h4 {
  margin-top: 0;
  margin-bottom: 15px;
}

.feedback-form .form-group {
  margin-bottom: 15px;
}

.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.feedback-container .feedback_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  color: white;
  background: #604c3c;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.feedback-container .feedback_button:hover {
  width: 200px;
  color: #000;
  background: white;
}
.feedback-container .feedback_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.feedback-container .feedback_button:nth-child(1):hover .icon {
  background: #9a6e4b;
}
.feedback-container .feedback_button:nth-child(2):hover .icon {
  background: #9a6e4b;
}

.feedback-container.feedback_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.feedback-container .feedback_button:hover .icon i {
  color: #fff;
}
.feedback-container .feedback_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.feedback-container.feedback_button:nth-child(1) span {
  color: #604c3c;
}
/*Feedback UI*/

/*Leaderboard UI*/

.Leaderboard-container {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 10;
}

.Leaderboard-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Leaderboard-container .Leaderboard_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  color: white;
  background: #604c3c;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Leaderboard-container .Leaderboard_button:hover {
  width: 200px;
  color: #000;
  background: white;
}
.Leaderboard-container .Leaderboard_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Leaderboard-container .Leaderboard_button:nth-child(1):hover .icon {
  background: #9a6e4b;
}
.Leaderboard-container .Leaderboard_button:nth-child(2):hover .icon {
  background: #9a6e4b;
}

.Leaderboard-container.Leaderboard_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Leaderboard-container .Leaderboard_button:hover .icon i {
  color: #fff;
}
.Leaderboard-container .Leaderboard_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Leaderboard-container.Leaderboard_button:nth-child(1) span {
  color: #604c3c;
}
/*Leaderboard UI*/

/*Assessment UI*/

.Assessment-container {
  position: fixed;
  bottom: 220px;
  right: 10px;
  z-index: 10;
}

.Assessment-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Assessment-container .Assessment_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  color: white;
  background: #604c3c;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Assessment-container .Assessment_button:hover {
  width: 200px;
  color: #000;
  background: white;
}
.Assessment-container .Assessment_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Assessment-container .Assessment_button:nth-child(1):hover .icon {
  background: #9a6e4b;
}
.Assessment-container .Assessment_button:nth-child(2):hover .icon {
  background: #9a6e4b;
}

.Assessment-container.Assessment_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Assessment-container .Assessment_button:hover .icon i {
  color: #fff;
}
.Assessment-container .Assessment_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Assessment-container.Assessment_button:nth-child(1) span {
  color: #604c3c;
}
/*Assessment UI*/

/*Logout UI*/

.Logout-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.Logout-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Logout-container .Logout_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  color: white;
  background: #604c3c;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Logout-container .Logout_button:hover {
  width: 200px;
  color: #000;
  background: white;
}
.Logout-container .Logout_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Logout-container .Logout_button:nth-child(1):hover .icon {
  background: #9a6e4b;
}
.Logout-container .Logout_button:nth-child(2):hover .icon {
  background: #9a6e4b;
}

.Logout-container.Logout_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Logout-container .Logout_button:hover .icon i {
  color: #fff;
}
.Logout-container .Logout_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Logout-container.Logout_button:nth-child(1) span {
  color: #604c3c;
}
/*Logout UI*/

/*Instructions UI*/

.Instructions-container {
  position: fixed;
  bottom: 290px;
  right: 10px;
  z-index: 10;
}

.Instructions-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 11;
}

.Instructions-container .Instructions_button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  color: white;
  background: #604c3c;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.Instructions-container .Instructions_button:hover {
  width: 200px;
  color: #000;
  background: white;
}
.Instructions-container .Instructions_button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Instructions-container .Instructions_button:nth-child(1):hover .icon {
  background: #9a6e4b;
}

.Instructions-container.Instructions_button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.Instructions-container .Instructions_button:hover .icon i {
  color: #fff;
}
.Instructions-container .Instructions_button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.Instructions-container.Instructions_button:nth-child(1) span {
  color: #604c3c;
}
/*Logout UI*/

/**Reference Display UI*/

.reference-tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  cursor: pointer;
  color: #604c3c;
}

.tooltip-text:hover {
  color: #9a6e4b;
}

.tooltip-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  left: -128px; /* Adjust as needed */
  width: 290px; /* Fixed width */
  overflow-wrap: break-word; /* Allow breaking long words */
  border: 1px solid #604c3c; /* Border added */
}

.reference-tooltip:hover .tooltip-content {
  display: block;
}

/**Add NB Tooltip*/

.addNB-tooltip {
  position: relative;
  display: inline-block;
}

.addNB-tooltip-text {
  cursor: pointer;
  color: #604c3c;
}

.addNB-tooltip-text:hover {
  color: #9a6e4b;
}

.addNB-tooltip-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  left: -128px; /* Adjust as needed */
  width: 850px; /* Fixed width */
  overflow-wrap: break-word; /* Allow breaking long words */
  border: 1px solid #9a6e4b; /* Border added */
}

.addNB-tooltip:hover .addNB-tooltip-content {
  display: block;
}
